%head
	%title CloudBusiness - #{@title}
	%link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/bootstrap.css'}
	%link{:href => 'https://fonts.googleapis.com/css?family=Open+Sans',  :rel => 'stylesheet', :type => 'text/css'}
	%script{:src => "/javascript/jquery-2.1.0.js"}
	%script{:src => "/javascript/bootstrap.min.js"}
	%script{:src => "/javascript/ui-forms.js"}
	%script{:src => "/javascript/jquery.PrintArea.js"}
	%script{:src => "/javascript/jquery.form.js"}
	%meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}
	%link{:rel => 'shortcut icon', :href => 'favicon.ico',:type => 'image/x-icon'}